@{
   Layout = "~/Shared/_Layout.cshtml"; 
   Page.Title = "Studenten Volg Systeem";
   if(WebSecurity.IsAuthenticated && Roles.IsUserInRole(WebSecurity.CurrentUserName,"Student"))
   {
       Response.Redirect("~/Students/");
   }else if(WebSecurity.IsAuthenticated && Roles.IsUserInRole(WebSecurity.CurrentUserName,"SLB"))
   {
       Response.Redirect("~/SLB/");
   }else if(WebSecurity.IsAuthenticated && Roles.IsUserInRole(WebSecurity.CurrentUserName,"Admin")){
       Response.Redirect("~/Admin/");
   }
    var username = "";
    var password = "";
    var rememberMe = false;
    //nhl richtlijnen invoegen...
    Validation.RequireField("username", "Je moet een gebruikersnaam invullen.");
    Validation.RequireField("password", "Je moet een wachtwoord invullen.");
    Validation.Add("password", Validator.StringLength(maxLength: Int32.MaxValue, minLength: 3, errorMessage: "Wachtwoord moet minimaal 8 characters lang zijn."));
    if (IsPost) {
            if (Validation.IsValid()) {
                username = Request.Form["username"];
                password = Request.Form["password"];
                rememberMe = Request.Form["rememberMe"].AsBool();
                if (WebSecurity.UserExists(username) && WebSecurity.GetPasswordFailuresSinceLastSuccess(username) > 4 && WebSecurity.GetLastPasswordFailureDate(username).AddSeconds(60) > DateTime.UtcNow) {
                    Response.Redirect("~/Account/AccountLockedOut");
                    return;
                }
                if (WebSecurity.Login(username, password, rememberMe)) {
                    Response.Redirect("~");
                } else {
                ModelState.AddFormError("Je gebruikersnaam of wachtwoord is niet goed!");
             }
        }
        <script type="text/javascript">
            $(window).load(function(){
                $('#inloggen').modal('show');
            });
        </script>
    }



@section navbar{
          <!--<ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
          <a href="#inloggen" class="dropdown-toggle" data-toggle="modal" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Inloggen</a>
        </li>
      </ul>-->
}
<h1>Welkom!</h1>
    <!--Begin Login popup-->
@section popup{
    <div class="modal fade" id="inloggen" tabindex="-1" role="dialog" aria-labelledby="Inloggen" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Inloggen</h4>
      </div>
        <form method="post">
      <div class="modal-body">
        @* If one or more validation errors exist, show an error *@
        @Html.ValidationSummary("Login is niet gelukt. Corrigeer de fouten en probeer het opnieuw.", excludeFieldErrors: true, htmlAttributes: null)
          <div class="test">
            <table id="loginpopup">
                <tr>
                    <td><label for="username" @if (!ModelState.IsValidField("username")){<text>class="error-label"</text>}>Gebruikersnaam:</label></td>
                    <td><input type="text" id="username" name="username"  @Validation.For("username") placeholder="gebruikersnaam" required/></td>
                    <td class="error-label" style="width: 245px">@Html.ValidationMessage("username")</td>
                </tr>
                <tr>
                    <td><label for="password" @if (!ModelState.IsValidField("password")) {<text>class="error-label"</text>}>Wachtwoord:</label></td>
                    <td><input type="password" id="password" name="password" @Validation.For("password") placeholder="wachtwoord" required/></td>
                    <td class="error-label">@Html.ValidationMessage("password")</td>                    
                </tr>
                <tr>
                    <td><label class="checkbox" for="rememberMe">Onthoud mij?</label></td>
                    <td class="error-label"><input type="checkbox" id="rememberMe" name="rememberMe" value="true"  /></td>
                </tr>
            </table>
              </div>
      </div>
      <div class="modal-footer">
        <input type="submit" value="Inloggen" class="btn btn-primary"/>
      </div>
</form>
    </div>
  </div>
</div>
}
<!--Einde Login popup-->
}
