@{
    Layout = "~/Shared/_Layout.cshtml";
    Page.Title = "SLB Dashboard | Home";
    List<Student> studenten = Student.GetStudents(WebSecurity.CurrentUserId);
    List<Agenda> a = Agenda.GetAgendas(WebSecurity.CurrentUserId);
    List<Afspraak> x = Afspraak.GetAfspraakSLB(WebSecurity.CurrentUserId);
    List<Student> needappointment = Student.StudentsNeedAppointment(WebSecurity.CurrentUserId,4);
}
<script type="text/javascript">
    $(document).ready(function () {
        $('.img-zoom').hover(function () {
            $(this).addClass('transition');

        }, function () {
            $(this).removeClass('transition');
        });
    });
</script>
<script>
    $(document).ready(function () {
        $("#hideraankomend").click(function () {
            $("#hideaankomend").show(1000);
            $("#hideraankomend").hide();
            $("#unhideraankomend").show();
        });
        $("#unhideraankomend").click(function () {
            $("#hideaankomend").hide(1000);
            $("#hideraankomend").show();
            $("#unhideraankomend").hide();
        });
        $("#hideraangevraagd").click(function () {
            $("#hideaangevraagd").show(1000);
            $("#hideraangevraagd").hide();
            $("#unhideraangevraagd").show();
        });
        $("#unhideraangevraagd").click(function () {
            $("#hideaangevraagd").hide(1000);
            $("#hideraangevraagd").show();
            $("#unhideraangevraagd").hide();
        });
        $("#hiderovereenkomst").click(function () {
            $("#hideovereenkomst").show(1000);
            $("#hiderovereenkomst").hide();
            $("#unhiderovereenkomst").show();
        });
        $("#unhiderovereenkomst").click(function () {
            $("#hideovereenkomst").hide(1000);
            $("#hiderovereenkomst").show();
            $("#unhiderovereenkomst").hide();
        });
    });
</script>

@section navbar{
    <ul class="nav navbar-nav">
        <li class="active"><a href="@Href("Default")"><span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span> Dashboard</a></li>
        <li><a href="@Href("Agenda")"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Agenda</a></li>
        <li><a href="@Href("Leerling")"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Studenten</a></li>
    </ul>
}
<!--Lijst met studenten-->
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Timeline</div>
            </div>
            <div class="panel-body">
                <div class="row">
                    @if(needappointment.Count > 0)
                    {
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <div class="panel-title">Mogelijk nieuwe afspraak plannen voor:</div>
                            </div>
                            @foreach(Student student in needappointment)
                            {
                                string datum = "";
                                try
                                {
                                    Agenda agenda = Agenda.GetLastestAgenda(student.GebruikerID);
                                    datum = agenda.Datum.Date.ToString("d");
                                }
                                catch
                                { 
                                    datum = "-";
                                }
                                
                                <a href="leerling?studentid=@student.GebruikerID" class="list-group-item">@student.Naam @student.Achternaam | Laatste afspraak was: @datum</a>
                            }
                        </div>
                    }

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <div class="panel-title">Aankomende afspraken</div>
                            </div>
                            @{
                                int index = 0;
                                bool first =  false;
                                for (int i = 0; i < a.Count; i++)
                                {
                                    if (index == 10 && !first)
                                    {
                                        @:<div id="hideaankomend" class="hideable">
                                        first = true;
                                    }
                                    Agenda ag = a[i];
                                    Student student = Student.GetStudent(ag.StudentID);
                                    if (ag.Datum > DateTime.Today && ag.Datum < DateTime.Today.AddDays(2) && ag.Definitief)
                                    {
                                        index++;
                                        <a href="Agenda?agendaid=@ag.AfspaakID&action=update" class="list-group-item">@ag.Datum.ToString("dd-MM-yyyy HH:mm")<br>@ag.Locatie<br>@student.Naam @student.Achternaam</a>
                                    }
                                    if (index > 10 && i == (a.Count - 1))
                                    {
                                        @:</div>
                                    }
                                }
                                if (index == 0)
                                {
                                    <div class="list-group-item">Geen aankomende afspraken gevonden</div>
                                }
                                else if(index > 10)
                                {
                                    <div id="hideraankomend" class="list-group-item mouse text-center">Meer...</div>
                                    <div id="unhideraankomend" class="list-group-item hideable mouse text-center">Minder...</div>
                                }
}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-info">
                            <div class="panel-heading"><div class="panel-title">Aangevraagde afspraken</div></div>
                            @{
                                index = 0;
                                first = false;
                                for (int i = 0; i < a.Count; i++)
                                {
                                    Agenda ag = a[i];
                                    Student student = Student.GetStudent(ag.StudentID);
                                    if (index == 5 && !first)
                                    {
                                        @:<div id="hideaangevraagd" class="hideable">
                                        first = true;
                                    }
                                    if (ag.Datum > DateTime.Today && ((!ag.Definitief || ag.Definitief == null) && (ag.Locatie == ""|| ag.Locatie == null)))
                                    {
                                        index++;
                                        <a href="Agenda?agendaid=@ag.AfspaakID&action=aanvraag" class="list-group-item">@ag.Datum.ToString("dd-MM-yyyy HH:mm")<br>@ag.Locatie<br>@student.Naam @student.Achternaam</a>
                                    }
                                    if (index > 5 && i == (a.Count - 1))
                                    {
                                        @:</div>
                                    }
                                }
                                if (index == 0)
                                {
                                    <div class="list-group-item">Geen aangevraagde afspraken gevonden</div>
                                }
                                else if (index > 5)
                                {
                                    <div id="hideraangevraagd" class="list-group-item mouse text-center">Meer...</div>
                                    <div id="unhideraangevraagd" class="list-group-item hideable mouse text-center">Minder...</div>
                                }
}
                        </div>
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <div class="panel-title">Verlopen overeenkomsten</div>
                            </div>
                            @{
                                index = 0;
                                first = false;
                                for (int i = 0; i < x.Count; i++)
                                {
                                    Afspraak af = x[i];
                                    if (index == 5 && !first)
                                    {
                                        @:<div id="hideovereenkomst" class="hideable">
                                        first = true;
                                    }
                                    if (af.Deathline < DateTime.Today && !af.afgevinkt)
                                    {
                                        index++;
                                        Student student = Student.GetStudent(Agenda.GetAgenda(Evaluatie.GetEvaluatieGesprekid(af.GesprekID).AgendaID).StudentID);
                                        <div class="list-group-item">@af.opmerking<br><h6>Verlopen op:</h6>@af.Deathline.Date.ToString("d")<br>@student.Naam @student.Achternaam</div>
                                    }
                                    if (index > 5 && i == (a.Count - 1))
                                    {
                                        @:</div>
                                    }
                                }
                                if (index == 0)
                                {
                                    <div class="list-group-item">Geen verlopen overeenkomsten gevonden</div>
                                }
                                else if (index > 5)
                                {
                                    <div id="hiderovereenkomst" class="list-group-item mouse text-center">Meer...</div>
                                    <div id="unhiderovereenkomst" class="list-group-item hideable mouse text-center">Minder...</div>
                                }

}
</div>



                    </div>
                </div>
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">Studenten</div>
            <table class="table">
                @if (studenten.Count > 0)
                {
                    foreach (Student s in studenten) //laadt lijstje met studenten
                    {
                        <tr>
                            <td><img class="img-zoom" src="@Href("~/Content/images/UserPictures/Default?userid=" + s.GebruikerID)" alt="userpic" /></td>
                            <td><a href="leerling?studentid=@s.GebruikerID">@s.Naam @s.Achternaam</a></td>
                            @if (Algoritme.ber_Prioriteit(s.GebruikerID) >= 75)
                            {
                                <td><img src="~/content/images/GreenDot.png" class="img" alt="green" /></td> //groen bolletje als de student het goed doet
                            }
                            else if ((Algoritme.ber_Prioriteit(s.GebruikerID) <= 75) && (Algoritme.ber_Prioriteit(s.GebruikerID) >= 50))
                            {
                                <td><img src="~/content/images/OrangeDot.png" class="img" alt="orange" /></td> //oranje is minder goed
                            }
                            else
                            {
                                <td><img src="~/content/images/RedDot.png" class="img" alt="red" /></td> //rood is slecht
                            }
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>Geen studenten gevonden</td>
                    </tr>
                }
            </table>
            <div class="panel-footer"></div>
        </div> <!--/panel-default-->
    </div> <!--/col-lg-2-->
</div> <!--/lijst met studenten-->