@using System.Globalization;
@{
    Layout = "~/Shared/_Layout.cshtml";
    Page.Title = "SLB Dashboard | Evaluatie";
    var agendaid = Request.QueryString["agendaid"];
    var action = Request.QueryString["action"];
    var succes = Request.QueryString["succesful"];
    var message = Request.QueryString["message"];
    Calendar cal = CultureInfo.CurrentCulture.Calendar;
    DateTimeFormatInfo dfi = DateTimeFormatInfo.CurrentInfo;
    string besproken = "";
    string locatie = "";
    string date = "";
    string tijd = "";
    bool check = false;
    if (action == null && agendaid != null && agendaid.IsInt())
    {

        if (Evaluatie.HasEvaluatie(agendaid.AsInt()))
        {
            Response.Redirect("Evaluatie?agendaid=" + agendaid + "&action=update");
        }
        else
        {
            Response.Redirect("Evaluatie?agendaid=" + agendaid + "&action=add");
        }
    }
    else if (agendaid == null || !agendaid.IsInt())
    {
        Response.Redirect("Default");
    }
    //get agendapunt
    //Student student = Student.GetStudent(agendapunt.StudentID);
    List<HulpAfspraak> afspraken;
    if (Session["afspraken"] != null)
    {
        afspraken = (List<HulpAfspraak>)Session["afspraken"];
    }
    else
    {
        afspraken = new List<HulpAfspraak>();
    }
    if (IsPost)
    {
        if (!Request["addafspraakadd"].IsEmpty())
        {
            string afspraak = Request.Form["afspraak"];
            DateTime deathline = Request.Form["deathline"].AsDateTime();
            afspraken.Add(new HulpAfspraak(afspraak, deathline));
            Session["afspraken"] = afspraken;
            Response.Redirect("Evaluatie?agendaid=" + agendaid + "&action=" + action);
        }
        else if (!Request["addafspraakdel"].IsEmpty())
        {
            int index = Request.Form["index"].AsInt();
            afspraken.RemoveAt(index);
            Session["afspraken"] = afspraken;
            Response.Redirect("Evaluatie?agendaid=" + agendaid + "&action=" + action);
        }
        else if (!Request["updateafspraakadd"].IsEmpty())
        {
            string afspraak = Request.Form["afspraak"];
            DateTime deathline = Request.Form["deathline"].AsDateTime();
            Afspraak.AddAfspraak(afspraak, Request.Form["gesprekid"].AsInt(), deathline);
        }
        else if (!Request["updateafspraakdel"].IsEmpty())
        {
            Afspraak.DeleteAfspraak(Request.Form["index"].AsInt());
        }
        else if (!Request["evaluatietoevoegen"].IsEmpty())
        {
            int evid = -1;
            besproken = Request.Form["besproken"];
            evid = Evaluatie.AddEvaluatie(Request.Form["besproken"], agendaid.AsInt());
            if (evid == -1)
            {
                //geef error
                Response.Redirect("Evaluatie?agendaid=" + agendaid + "&action=" + action + "&succesful=false&message=Er ging iets fout");
            }
            else
            {
                foreach (HulpAfspraak afspraak in afspraken)
                {
                    Afspraak.AddAfspraak(afspraak.Opmerking, evid, afspraak.Deathline);
                }
            }
        }
    }
}
@section navbar{
    <ul class="nav navbar-nav">
        <li><a href="@Href("Default")"><span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span> Dashboard</a></li>
        <li><a href="@Href("Agenda")"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Agenda</a></li>
        <li class="active"><a href="@Href("Leerling")"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Studenten</a></li>
    </ul>
}
<div class="row">
    @if (succes == "true")
    {
        <div class="col-lg-12">
            <div class="alert alert-success" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>@message</div>
        </div>
    }
    else if (succes == "false")
    {
        <div class="col-lg-12">
            <div class="alert alert-danger" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>@message</div>
        </div>
    }
</div>

@if (action == "add")
{
    Agenda agenda = Agenda.GetAgenda(agendaid.AsInt());
    Student student = Student.GetStudent(agenda.StudentID);
    <!--tabel met studentevaluatie-->
    <div>
        <fieldset class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">SLB-gesprek evaluatie</h3>
                </div><!--/panel head-->
                <form method="post">
                    <div class="panel-body">
                        <table>
                            <tr>
                                <td><b>Naam Student</b></td>
                                <td>
                                    <input value="@student.Naam @student.Achternaam" name="naam" readonly />
                                </td><!--werkt nog niet-->
                            </tr>
                            <tr>
                                <td style="vertical-align: top"><b>Wat is er besproken?</b></td>
                                <td><textarea name="besproken" cols="35" rows="4" placeholder="Wat is er besproken?" required>@besproken</textarea></td>
                            </tr>
                        </table>
                    </div><!--panel body-->
                    <div class="panel-footer">
                        <a href="Agenda?week=@cal.GetWeekOfYear(agenda.Datum,dfi.CalendarWeekRule,dfi.FirstDayOfWeek).ToString()&jaar=@agenda.Datum.Year.ToString()" class="btn btn-default">Terug</a>
                        <input type="submit" name="evaluatietoevoegen" class="btn btn-md btn-primary" value="Toevoegen" />
                    </div>
                </form>
            </div><!--panel compleet-->
        </fieldset>
        <fieldset>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Overeenkomsten</h3>
                </div><!--panel head-->
                <div class="panel-body">
                    <ul class="list-group">
                        @if (afspraken.Count > 0)
                        {
                            int index = 0;

                            foreach (HulpAfspraak afspraak in afspraken)
                            {
                                <form method="post">
                                    <li class="list-group-item">@afspraak.Opmerking | @afspraak.Deathline.Date.ToString("d") <div class="pull-right"><input type="submit" name="addafspraakdel" class="btn btn-xs btn-danger" value="x"><input type="text" name="index" value="@index" hidden /></div><div class="clearfix"></div></li>
                                </form>
                                index++;
                            }
                        }
                        else
                        {
                            <li class="list-group-item">Geen overeenkomsten aangemaakt</li>
                        }
                    </ul>
                </div><!--panel body-->
                <div class="panel-footer">
                    <form method="post">
                        <input type="text" name="afspraak" value="Overeenkomst" required /> <input type="date" name="deathline" required /> <input type="submit" name="addafspraakadd" class="btn btn-xs btn-primary" value="+">
                    </form>
                </div>
            </div> <!--panel compleet-->
        </fieldset>
    </div>
}
else if (action == "update")
{
    Evaluatie ev = Evaluatie.GetEvaluatie(agendaid.AsInt());
    Agenda ag = Agenda.GetAgenda(agendaid.AsInt());
    int week = cal.GetWeekOfYear(ag.Datum, dfi.CalendarWeekRule, dfi.FirstDayOfWeek);
    int jaar = ag.Datum.Year;
    Student st = Student.GetStudent(ag.StudentID);
    List<Afspraak> afspraak = Afspraak.GetAfspraken(ev.GesprekID);
    <div>
        <fieldset class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">SLB-gesprek evaluatie Updaten</div>
                </div><!--panel head-->
                <form method="post">
                    <div class="panel-body">
                        <table>
                            <tr>
                                <td>Naam student</td>
                                <td>
                                    <input value="@st.Naam @st.Achternaam" name="naam" readonly />
                                </td><!--werkt nog niet-->
                            </tr>
                            <tr>
                                <td style="vertical-align: top"><b>Wat is er besproken?</b></td>
                                <td><textarea name="besproken" cols="35" rows="4" placeholder="Wat is er besproken?" required>@ev.Besproken</textarea></td>
                            </tr>
                        </table>
                    </div><!--panel body-->
                    <div class="panel-footer">
                        <a href="Agenda?week=@week&jaar=@jaar" class="btn btn-default">Terug</a>
                        <input type="submit" name="evaluatieupdaten" class="btn btn-md btn-primary" value="Updaten" />
                    </div>
                </form>
            </div><!--panel compleet-->
        </fieldset>
        <fieldset>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">Overeenkomsten</div>
                </div><!--panel head-->
                <div class="panel-body">
                    <ul class="list-group">
                        @if (afspraak.Count > 0)
                        {
                            int index = 0;

                            foreach (Afspraak afs in afspraak)
                            {
                                <form method="post">
                                    <li class="list-group-item">@afs.opmerking | @afs.Deathline.Date.ToString("d") <div class="pull-right"><input type="submit" name="updateafspraakdel" class="btn btn-xs btn-danger" value="x"><input type="text" name="index" value="@afs.afspraakID" hidden /></div></li>
                                </form>
                                index++;
                            }
                        }
                        else
                        {
                            <li class="list-group-item">Geen overeenkomsten aangemaakt</li>
                        }
                    </ul>
                </div><!--panel body-->
                <div class="panel-footer">
                    <form method="post">
                        <!--afspraak toevoegen-->
                        <input type="text" name="afspraak" value="Overeenkomst" required /> <input type="date" name="deathline" required /> <input name="gesprekid" value="@ev.GesprekID" hidden />   <input type="submit" name="updateafspraakadd" class="btn btn-xs btn-primary" value="+">
                    </form>
                </div>
            </div> <!--panel compleet-->
        </fieldset>
    </div>
}