@{;
        Layout = "~/Shared/_Layout.cshtml"; 
    Page.Title = "SLB Dashboard";
    List<Student> studenten = Student.GetStudents(WebSecurity.CurrentUserId);
    var studid = Request.QueryString["studentid"];
}

@section navbar{
  <ul class="nav navbar-nav"> 
        <li><a href="@Href("Default")"><span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span> Dashboard</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Agenda</a></li>
        <li  class="active"><a href="leerling"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Studenten</a></li>
      </ul>
}

@if(studid == null) {
    <!--Lijst met studenten-->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Studenten</div>
                    <div class="panel-body">
                        <table class="table">
                            @foreach(Student s in studenten){
                                <tr>
                                    <td><a href="">@s.Naam @s.Achternaam</a></td>
                                    <td><img src="~/content/images/GreenDot.png" alt="green"/></td>
                                </tr>
                            }
                        </table>
                    </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div> <!--/lijst met studenten-->
}

else {
    Student gebruiker = Student.GetStudent(studid.AsInt());
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">@gebruiker.Naam @gebruiker.Achternaam</div>
            <table>
                <tr>
                    <td>Naam</td>
                    <td>@gebruiker.Naam</td>
            
                </tr>
                <tr>
                    <td>Achternaam</td>
                    <td>@gebruiker.Achternaam</td>
                </tr>
                <tr>
                    <td>E-mailadres</td>
                    <td>@gebruiker.Email</td>

                </tr>
                <tr>
                    <td>Straat + huis nr.</td>
                    <td>@gebruiker.Adres</td>
                </tr>
                <tr>
                    <td>Postcode</td>
                    <td>@gebruiker.Postcode</td>
                </tr>
                <tr>
                    <td>Woonplaats</td>
                        <td>@gebruiker.Woonplaats</td>
                </tr>
                <tr>
                    <td>Telefoonnummer</td>
                    <td>@gebruiker.TelefoonNr</td>
                </tr>
            </table>
            <div class="panel-footer">
                <a href="Gebruikers" class="btn btn-default">Terug</a>
                <a href="Gebruikers" class="btn btn-primary">Afspraak plannen</a>
            </div><!--panel footer-->
        </div><!--panel-->
    </div><!--class col-lg-8-->
 }