@section navbar{
    
}
@{
    Layout = "~/Shared/_Layout.cshtml";
    Page.Title = "Wachtwoord vergeten";
    if(WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~");
        return;
    }
    bool passwordSent = false;
    var resetToken = "";
    var email = Request.Form["email"] ?? Request.QueryString["email"];

    // Setup validation
    Validation.RequireField("email", "Dit veld is nodig!");

    if (IsPost) {
        AntiForgery.Validate();
        // validate email
        bool isValid = true;
        if (Validation.IsValid()) {
            if (WebSecurity.GetUserId(email) > -1 && WebSecurity.IsConfirmed(email)) {
                resetToken = WebSecurity.GeneratePasswordResetToken(email); // Optionally specify an expiration date for the token
            } else {
                passwordSent = true; // We don't want to disclose that the user does not exist.
                isValid = false;
            }
        }
        if (isValid) {
            var hostUrl = Request.Url.GetComponents(UriComponents.SchemeAndServer, UriFormat.Unescaped);
            var resetUrl = hostUrl + VirtualPathUtility.ToAbsolute("~/Account/PasswordReset?resetToken=" + HttpUtility.UrlEncode(resetToken));
            WebMail.Send(
                to: email,
                subject: "Wachtwoord resetten | Sinterklaas verlanglijstje", 
                body: "Gebruik de code om het wachtwoord te resetten. De code is: " + resetToken + @". Bezoek <a href=""" + HttpUtility.HtmlAttributeEncode(resetUrl) + @""">" + resetUrl + "</a> om je wachtwoord te resetten."
            );
            passwordSent = true;
        }
    }
}
<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Gebruik het onderstaande formulier om je wachtwoord te resetten</h2>
</hgroup>


    @if (passwordSent) {
        <p class="message-success">
            Instructies om je wachtwoord te resetten zijn verstuurd naar het e-mailadres.
        </p>
    }

    <form method="post">
        @AntiForgery.GetHtml()
        @Html.ValidationSummary(excludeFieldErrors: true)

        <fieldset id="form">
            <legend>Wachtwoord Resetten</legend>
            <table>
                <tr class="email">
                    <td><label for="email" @if (!ModelState.IsValidField("email")) {<text>class="error-label"</text>}>E-mailadres:</label></td>
                    <td><input type="text" id="email" name="email" value="@email" disabled="@passwordSent" @Validation.For("email") /></td>
                    <td>@Html.ValidationMessage("email")</td>
                </tr>
                <tr>
                    <td colspan="1"></td>
                    <td><input type="submit" value="Stuur de instructies" disabled="@passwordSent" /></td>
                </tr>
            </table>

        </fieldset>
    </form>
